<h1>Lista de Productos</h1>

<ul id="product-list">
    {{#each products}}
    <li>{{this.title}}: ${{this.price}} - {{this.description}} (Stock: {{this.stock}}, Código: {{this.code}})</li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    // Escuchar el evento 'product-updated' desde el servidor y actualizar la lista
    socket.on('product-updated', (products) => {
        const productList = document.getElementById('product-list');
        productList.innerHTML = '';

        products.forEach(product => {
            const li = document.createElement('li');
            li.textContent = `${product.title}: $${product.price} - ${product.description} (Stock: ${product.stock}, Código: ${product.code})`;
            productList.appendChild(li);
        });
    });
</script>
